#map {
    height: 600px;
}

.layer-control {
    position: absolute;
    top: 180px;
    right: 40px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center tabs horizontally */
}

.tab {
    /* float: left; */
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: calc(10% - 2px); /* Adjust width based on number of tabs */
    margin-right: -8px; /* Negative margin to pull tabs closer together */
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 14px 16px;
    width: 100%; /* calc(25% - 2px) */
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 25px;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 5px;
    border-top: none;
}

.filters {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}

.gallery-item {
    cursor: pointer; /* Makes it look clickable */
    transition: transform 0.3s ease; /* Smooth zoom animation */
}

.gallery-item:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

.gallery-item.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4); /* Zooms to 2x size, centered */
    z-index: 1000; /* Ensures it’s on top */
    background: rgba(190, 190, 190, 0.8); /* Dark overlay */
    padding: 10px;
}

/* Optional: Darken background when zoomed */
/*body.zoomed::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999;
}*/
